<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bili.diushoujuaner.database.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.bili.diushoujuaner.database.model.Comment" >
    <id column="CommentNo" property="commentNo" jdbcType="BIGINT" />
    <result column="RecallNo" property="recallNo" jdbcType="BIGINT" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="AddTime" property="addTime" jdbcType="VARCHAR" />
    <result column="FromNo" property="fromNo" jdbcType="BIGINT" />
    <result column="NickName" property="nickName" jdbcType="VARCHAR" />
    <result column="PicPath" property="fromPicPath" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPermitionForRemove" resultType="long" parameterType="com.bili.diushoujuaner.database.param.CommentRemoveParam">
  	SELECT COUNT(DISTINCT Comment.Content)
	FROM Comment, Recall
	WHERE
	(CommentNo = #{commentNo, jdbcType=BIGINT} AND Comment.FromNo = #{userNo, jdbcType=BIGINT}) OR ( CommentNo = #{commentNo, jdbcType=BIGINT} AND Comment.RecallNo = Recall.RecallNo AND Recall.UserNo = #{userNo, jdbcType=BIGINT})
  </select>
  <select id="getCommentListByRecallNo" resultMap="BaseResultMap" parameterType="long">
  	select CommentNo,RecallNo,Content,AddTime,FromNo,NickName,PicPath
  	from Comment,User
  	where RecallNo = #{recallNo,jdbcType=BIGINT} and userNo = FromNo
  	order by AddTime asc
  </select>
  <select id="getCommentListByCommentNo" resultMap="BaseResultMap" parameterType="long">
  	select CommentNo,RecallNo,Content,AddTime,FromNo,NickName,PicPath
  	from Comment,User
  	where CommentNo = #{commentNo,jdbcType=BIGINT} and userNo = FromNo
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CommentNo, RecallNo, Content, AddTime, FromNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bili.diushoujuaner.database.model.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where CommentNo = #{commentNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where CommentNo = #{commentNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bili.diushoujuaner.database.model.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bili.diushoujuaner.database.model.Comment" >
    <selectKey resultType="java.lang.Long" keyProperty="commentNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment (RecallNo, Content, AddTime, 
      FromNo)
    values (#{recallNo,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, 
      #{fromNo,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bili.diushoujuaner.database.model.Comment" >
    <selectKey resultType="java.lang.Long" keyProperty="commentNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recallNo != null" >
        RecallNo,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="addTime != null" >
        AddTime,
      </if>
      <if test="fromNo != null" >
        FromNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recallNo != null" >
        #{recallNo,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="fromNo != null" >
        #{fromNo,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bili.diushoujuaner.database.model.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.commentNo != null" >
        CommentNo = #{record.commentNo,jdbcType=BIGINT},
      </if>
      <if test="record.recallNo != null" >
        RecallNo = #{record.recallNo,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        Content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        AddTime = #{record.addTime,jdbcType=VARCHAR},
      </if>
      <if test="record.fromNo != null" >
        FromNo = #{record.fromNo,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set CommentNo = #{record.commentNo,jdbcType=BIGINT},
      RecallNo = #{record.recallNo,jdbcType=BIGINT},
      Content = #{record.content,jdbcType=VARCHAR},
      AddTime = #{record.addTime,jdbcType=VARCHAR},
      FromNo = #{record.fromNo,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bili.diushoujuaner.database.model.Comment" >
    update comment
    <set >
      <if test="recallNo != null" >
        RecallNo = #{recallNo,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        AddTime = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="fromNo != null" >
        FromNo = #{fromNo,jdbcType=BIGINT},
      </if>
    </set>
    where CommentNo = #{commentNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bili.diushoujuaner.database.model.Comment" >
    update comment
    set RecallNo = #{recallNo,jdbcType=BIGINT},
      Content = #{content,jdbcType=VARCHAR},
      AddTime = #{addTime,jdbcType=VARCHAR},
      FromNo = #{fromNo,jdbcType=BIGINT}
    where CommentNo = #{commentNo,jdbcType=BIGINT}
  </update>
</mapper>