<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bili.diushoujuaner.database.mapper.FeedBackMapper" >
  <resultMap id="BaseResultMap" type="com.bili.diushoujuaner.database.model.FeedBack" >
    <id column="feBaNo" property="feBaNo" jdbcType="BIGINT" />
    <result column="userNo" property="userNo" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    feBaNo, userNo, content, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bili.diushoujuaner.database.model.FeedBackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from feedback
    where feBaNo = #{feBaNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from feedback
    where feBaNo = #{feBaNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bili.diushoujuaner.database.model.FeedBackExample" >
    delete from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bili.diushoujuaner.database.model.FeedBack" >
    <selectKey resultType="java.lang.Long" keyProperty="feBaNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feedback (userNo, content, time
      )
    values (#{userNo,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bili.diushoujuaner.database.model.FeedBack" >
    <selectKey resultType="java.lang.Long" keyProperty="feBaNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        userNo,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        #{userNo,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bili.diushoujuaner.database.model.FeedBackExample" resultType="java.lang.Integer" >
    select count(*) from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update feedback
    <set >
      <if test="record.feBaNo != null" >
        feBaNo = #{record.feBaNo,jdbcType=BIGINT},
      </if>
      <if test="record.userNo != null" >
        userNo = #{record.userNo,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update feedback
    set feBaNo = #{record.feBaNo,jdbcType=BIGINT},
      userNo = #{record.userNo,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bili.diushoujuaner.database.model.FeedBack" >
    update feedback
    <set >
      <if test="userNo != null" >
        userNo = #{userNo,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where feBaNo = #{feBaNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bili.diushoujuaner.database.model.FeedBack" >
    update feedback
    set userNo = #{userNo,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where feBaNo = #{feBaNo,jdbcType=BIGINT}
  </update>
</mapper>