<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bili.diushoujuaner.database.mapper.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.bili.diushoujuaner.database.model.Good" >
    <id column="GoodNo" property="goodNo" jdbcType="BIGINT" />
    <result column="RecallNo" property="recallNo" jdbcType="BIGINT" />
    <result column="UserNo" property="userNo" jdbcType="BIGINT" />
    <result column="GoodTime" property="goodTime" jdbcType="VARCHAR" />
    <result column="PicPath" property="userPicPath" jdbcType="VARCHAR" />
    <result column="NickName" property="nickName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getGoodListByRecallNo" resultMap="BaseResultMap" parameterType="long">
      select GoodNo,RecallNo,Good.UserNo,PicPath,NickName
      from Good,User
      where RecallNo = #{recallNo,jdbcType=BIGINT} and Good.UserNo = User.UserNo
      order by GoodTime desc
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GoodNo, RecallNo, UserNo, GoodTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bili.diushoujuaner.database.model.GoodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from good
    where GoodNo = #{goodNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from good
    where GoodNo = #{goodNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bili.diushoujuaner.database.model.GoodExample" >
    delete from good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bili.diushoujuaner.database.model.Good" >
    <selectKey resultType="java.lang.Long" keyProperty="goodNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into good (RecallNo, UserNo, GoodTime
      )
    values (#{recallNo,jdbcType=BIGINT}, #{userNo,jdbcType=BIGINT}, #{goodTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bili.diushoujuaner.database.model.Good" >
    <selectKey resultType="java.lang.Long" keyProperty="goodNo" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recallNo != null" >
        RecallNo,
      </if>
      <if test="userNo != null" >
        UserNo,
      </if>
      <if test="goodTime != null" >
        GoodTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recallNo != null" >
        #{recallNo,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=BIGINT},
      </if>
      <if test="goodTime != null" >
        #{goodTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bili.diushoujuaner.database.model.GoodExample" resultType="java.lang.Integer" >
    select count(*) from good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update good
    <set >
      <if test="record.goodNo != null" >
        GoodNo = #{record.goodNo,jdbcType=BIGINT},
      </if>
      <if test="record.recallNo != null" >
        RecallNo = #{record.recallNo,jdbcType=BIGINT},
      </if>
      <if test="record.userNo != null" >
        UserNo = #{record.userNo,jdbcType=BIGINT},
      </if>
      <if test="record.goodTime != null" >
        GoodTime = #{record.goodTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update good
    set GoodNo = #{record.goodNo,jdbcType=BIGINT},
      RecallNo = #{record.recallNo,jdbcType=BIGINT},
      UserNo = #{record.userNo,jdbcType=BIGINT},
      GoodTime = #{record.goodTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bili.diushoujuaner.database.model.Good" >
    update good
    <set >
      <if test="recallNo != null" >
        RecallNo = #{recallNo,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        UserNo = #{userNo,jdbcType=BIGINT},
      </if>
      <if test="goodTime != null" >
        GoodTime = #{goodTime,jdbcType=VARCHAR},
      </if>
    </set>
    where GoodNo = #{goodNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bili.diushoujuaner.database.model.Good" >
    update good
    set RecallNo = #{recallNo,jdbcType=BIGINT},
      UserNo = #{userNo,jdbcType=BIGINT},
      GoodTime = #{goodTime,jdbcType=VARCHAR}
    where GoodNo = #{goodNo,jdbcType=BIGINT}
  </update>
</mapper>